$font-stack:    'arial', sans-serif;
//colors
$white: rgba(255, 255, 255, 1.0);
$near-white: rgba(246,249,250, 1.0);
$soft-grey: rgba(236, 240, 241, 1.0);
$grey: rgba(58, 58 ,58 , 1.0);
$blue: rgba(41, 128, 185, 1.0);
//width
$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 1000px;
