/*
Style perso philip
 */
#search-question {
	display: block-inline;
	width: 400px;
}

.process li{
	font-size: 10px;
}

.results-list{
	height: 100px;
}

.searchQuestion{
	padding: 20px;
}

tr {
	height: 20px;
}

td {
	padding: 0 25px 0255px;
}

.details {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #666;
}