@import "partials/variables";
@import "partials/cf";
/* @import "partials/reset";
@import "partials/typography";
 */

.container{
	padding: 10px;
}
.header {
	background-color: $blue;
	color: #FFF;
}

.header a {
	color: #FFF;
}

.page{
	padding: 20px;
	
	border:1px solid $blue; 
	border-radius: 4px;

	@extends .cf;

}

.page__identification{
	width: 50%;
	min-width: 320px;
	margin: 20px auto;
}

.page--error{
	border:1px solid $red; 
}

.row {
	padding: 20px;
}

.message {
	margin-left: 10px;

	&--info{
		padding: 10px;
		border: 1px solid $blue;
	}

	&--alerte{
		color: #FF0092;
	}
}

.is-hidden{
	display: none;
}

.panel{
	margin-top: 20px;
}

.searchUserForm{
  margin-bottom: 20px;
}

.userResult{
  margin-top: 20px;
}

.modal-dialog{
/* 	margin-top: 15%;
 */
}
.modal-body{

	@extends .cf;

}

#user-table  tr:hover{
	cursor: pointer;
  }

.usermodal__radio{
	width: 50%;
	float: left;
}

#usermodal__userName{
	font-size: 1.25em;
	font-weight: bold;
	font-style: underline;
	color: #FF0092;
}